<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <link rel="stylesheet" href="../public/css/index.css" />
  <link rel="stylesheet" href="../public/globalStyle/style.css" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Home</title>
</head>

<body>
  <h4>{{>header}}</h4>
  <section>
    <div class="background">
      <div class="layout2">
        <div class="content">
          <h4>{{SubTitle}}</h4>
          <h1>{{name}}</h1>
          <h3>I am a {{job}}</h3>
          <div class="btns">
            <button>{{btn1}}</button>
            <button>{{btn2}}</button>
          </div>
        </div>
      </div>
    </div>
  </section>
  <h4>{{>footer}}</h4>
</body>

</html>