<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" />
    <link rel="stylesheet" href="../public/css/service.css" />
    <link rel="stylesheet" href="../public/globalStyle/style.css" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Service</title>
</head>

<body>

    <h4>{{>header}}</h4>
    <section class="servicePage">
        <div class="content">
            <div>
                <i class="fa fa-user"></i>
                <h2>{{title1}}</h2>
                <p>{{SubTitle}}</p>
                <button class="btn">{{btn}}</button>
            </div>
            <div>
                <i class="fa fa-laptop"></i>
                <h2>{{title2}}</h2>
                <p>{{SubTitle}}</p>
                <button class="btn">{{btn}}</button>
            </div>
            <div>
                <i class="fa fa-line-chart"></i>
                <h2>{{title3}}</h2>
                <p>{{SubTitle}}</p>
                <button class="btn">{{btn}}</button>
            </div>
        </div>
    </section>
    <h4>{{>footer}}</h4>
</body>

</html>